<% include ../base/cabecalho.ejs %>
<main>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-pandeli">
            <a class="navbar-brand" href=""><strong class="text-pandeli">Pandeli</strong></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link text-pandeli" href="/"><i class="fas fa-home"></i> Inicio</strong></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/cardapio"><strong><i class="fas fa-book-open"></i> Cardápio</strong></a>
                    </li>
                    <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <strong><i class="fas fa-smile-wink fa-lg"></i> Ola, <%= usuario.nome %> </strong>
                                  </a>
                                  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" href="/dashboard">Minha Página</a>
                                    <% if(usuario.nivel_acesso === 2){ %>
                                        <a class="dropdown-item" href="/dashboard/pedidos">Pedidos</a>
                                        <a class="dropdown-item" href="/dashboard/produtos">Produtos</a>
                                        <a class="dropdown-item" href="/dashboard/publicacoes">Publicações</a>
                                    <% } %>
                                    <a class="dropdown-item" href="/sair">Sair</a>
                                  </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><strong><i class="fas fa-shopping-cart"></i> Carrinho</strong></a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="container" data-aos="fade-left" data-aos-anchor="#example-anchor" data-aos-offset="500">
        <div class="row">
            <div class="col-md-12">
                <div style="margin-top:70px;">
                        <h2 class="text-pandeli-red text-center">Produtos</h2>
                        <br>
                        <div id="app" class="col-md-12">
                            <div class="row">
                                <div class="col-md-6">
                                    <div v-if="message !== ''" class="alert alert-info" role="alert">
                                        {{message}}
                                    </div>
                                    <div class="card">
                                        <div class="card-body">
                                            <form @submit.prevent="sendProduto">
                                                <div class="form-group">
                                                    <input type="text" v-model="produto.nome" placeholder="Nome do produto" class="form-control" required>
                                                </div>
                                                <div class="row">
                                                    <div class="form-group col-md-6">
                                                        <input type="text" v-model="produto.unidade" placeholder="Unidade" class="form-control" required>
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        <input type="text" v-model="produto.preco" placeholder="Preço" class="form-control" required>
                                                    </div>
                                                </div>
                                                <div v-if="edit===false" class="form-group col-md-6">
                                                    <input type="file" @change="onFileSelected" class="form-control-file">
                                                </div>
                                                <div class="form-group">
                                                    <textarea cols="20" rows="5" v-model="produto.ingredientes" class="form-control" placeholder="Insira os ingredientes" required></textarea>
                                                </div>
                                                <button v-if="edit === false" class="btn btn-info btn-block"> Enviar </button>
                                                <button v-else-if="edit === true" class="btn btn-success btn-block"> Atualizar </button>
                                            </form>
                                        </div>
                                    </div>
                                </div> 
                                <div class="col-md-6">
                                    <table class="table">
                                        <thead class="bg-pandeli">
                                            <tr>
                                                <th scope="col" class="text-pandeli">Nome</th>
                                                <th scope="col" class="text-pandeli">Unidade</th>
                                                <th scope="col" class="text-pandeli">Ação</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="produto of produtos" :key="produto._id" >
                                                <td class="text-pandeli-red">{{produto.nome}}</td>
                                                <td class="text-pandeli-red">{{produto.unidade}}</td>
                                                <td>
                                                    <button @click="editProduto(produto._id)" type="button" class="btn btn-warning"><i class="fas fa-pencil-alt"></i></button>
                                                    <button @click="deletaPrduto(produto._id)" type="button" class="btn btn-danger"><i class="fas fa-trash"></i></button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<br>
<script>
    class Produto {
        constructor(nome,unidade,preco,ingredientes){
            this.nome = nome;
            this.unidade = unidade;
            this.preco = preco;
            this.ingredientes = ingredientes;
            this.file = null;
        }
    }
    var app = new Vue({
        el:"#app",
        data(){
            return{
                edit:false,
                produtos:[],
                produto: new Produto(),
                id_produto:'',
                message:""
            }
        },
        mounted(){ 
            this.getProdutos();
        },
        methods:{
            getProdutos(){
                axios.get("/api/produto")
                .then(function(products){
                    this.produtos = products.data;
                }.bind(this))
            },
            deletaPrduto(id){
                if(confirm("Tem certeza?")){
                    axios.delete("/api/produto/"+id)
                    .then(function(resp){
                        this.message = resp.data.message
                        this.getProdutos()
                    }.bind(this))
                }
            },
            sendProduto(){
                if (this.edit == false){
                    const fd = new FormData()
                    fd.append("images", this.produto.file)
                    fd.append("nome", this.produto.nome)
                    fd.append("preco", this.produto.preco)
                    fd.append("ingredientes", this.produto.ingredientes)
                    fd.append("unidade", this.produto.unidade)

                    axios.post("/api/produto", fd)
                    .then(function(resp){
                        this.getProdutos()
                        this.edit = false
                        this.message = resp.data.message
                    }.bind(this))
                    .catch(function(){
                        this.message = "É necessário enviar uma imagem !!!"
                    })

                } else {
                    axios.put("/api/produto/" + this.id_produto,{
                        nome:this.produto.nome,
                        preco:this.produto.preco,
                        ingredientes:this.produto.ingredientes,
                        unidade:this.produto.unidade
                    })
                    .then(function(resp){
                        this.edit = false
                        this.message = resp.data.message
                        this.getProdutos()
                    }.bind(this))
                }
                this.produto = new Produto()
            },
            onFileSelected(event){
                this.produto.file = event.target.files[0]
            },
            editProduto(id){
                axios.get("/api/produto/"+id)
                
                .then(function(product){
                    this.produto = new Produto(
                                    product.data.nome,product.data.unidade, 
                                    product.data.preco, product.data.ingredientes
                                )
                    this.edit = true
                    this.id_produto = product.data._id
                }.bind(this))
            }
        }
    })
</script>
<% include ../base/rodape.ejs %>