<% include ../base/cabecalho.ejs %>
<main>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-pandeli">
            <a class="navbar-brand" href=""><strong class="text-pandeli">Pandeli</strong></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link text-pandeli" href="/"><i class="fas fa-home"></i> Inicio</strong></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/cardapio"><strong><i class="fas fa-book-open"></i> Cardápio</strong></a>
                    </li>
                    <% if(!logado){ %>
                        <li class="nav-item">
                            <a class="nav-link" href="/login"><strong><i class="fas fa-user"></i> Login</strong></a>
                        </li>
                    <%} else{ %>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <strong><i class="fas fa-smile-wink fa-lg"></i> Ola, <%= usuario.nome %> </strong>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="/dashboard">Minha Página</a>
                                <% if(usuario.nivel_acesso === 2){ %>
                                    <a class="dropdown-item" href="/dashboard/pedidos">Pedidos</a>
                                    <a class="dropdown-item" href="/dashboard/produtos">Produtos</a>
                                    <a class="dropdown-item" href="/dashboard/publicacoes">Publicações</a>
                                <% } %>
                                <a class="dropdown-item" href="/sair">Sair</a>
                            </div>
                        </li>
                    <%} %>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><strong><i class="fas fa-shopping-cart"></i> Carrinho</strong></a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="container" data-aos="fade-left" data-aos-anchor="#example-anchor" data-aos-offset="500">
        <div class="row">
            <div class="col-md-12" id="app">
                <div style="margin-top:70px;">
                    <h1 class="text-pandeli-red">Carrinho de Compra</h1>
                    <hr style="border: 2px solid #d46a56ff;">

                    <form v-if="compras.length > 0">
                        <table class="table">
                            <thead class="bg-pandeli">
                                <tr>
                                    <th scope="col"  class="text-pandeli">Produto</th>
                                    <th scope="col"  class="text-pandeli">Quantidade</th>
                                    <th scope="col"  class="text-pandeli">Valor (Unit.)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="produto of compras" :key="produto._id" id="ppp">
                                    <td>{{produto.nome}}</td>
                                    <td>
                                        <div class="col-md-4 col-sm-6">
                                            <input type="number" ref="item" @keyup="calcula" @click="calcula" :name='produto._id' :data-nome='produto.nome' :data-value='produto.preco' class="form-control" min="0" value="0">
                                        </div>
                                    </td>
                                    <td>{{produto.preco}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="form-group row">
                            <h3 style="margin-top:8px;">Total</h3>
                            <div class="col-md-2 col-sm-6">
                                <input name="valor_total" class="form-control form-control-lg" type="text" readonly value="0">
                            </div>                            
                        </div>
                        <button type="button"  class="btn btn-pandeli float-sm-right btn-lg"> Finalizar </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
<br>
<script>
    var valor_total  = document.getElementsByName("valor_total");
    var id_produtos = "<%- compras %>".split(",")
    var app = new Vue({
        el:"#app",
        data(){
            return {
                compras:[],
                valor:0
            }
        },
        mounted(){
            this.getProdutos()
        },
        methods:{
            getProdutos(){
                if (id_produtos != ""){
                    for (let i = 0;i<id_produtos.length;i++){
                        axios.get("/api/produto/"+ id_produtos[i])
                        .then(function(resp){
                            this.compras.push(resp.data)
                        }.bind(this))
                    }
                }
            },
            calcula(){
                let itens = this.$refs.item;
                let valor_tmp = 0;
                for (let i = 0; i < itens.length;i++){
                    valor_tmp += itens[i].dataset.value * itens[i].value
                };
                this.valor= parseFloat(valor_tmp).toFixed(2);
                valor_total[0].value = this.valor;
            }
        }
    })
</script>

<% include ../base/rodape.ejs %>