    <br>
    <footer class="page-footer font-small bg-pandeli pt-4">
            <div class="container-fluid text-center text-md-left">
                <div class="row">
                    <div class="col-md-7 offset-1 col-sm-12">
                        <h4 class="text-pandeli"> <i class="fas fa-map-marker-alt"></i> Endereço</h4>
                        <p class="text-pandeli">Avenida José Caetano de Almeida, 550 - Centro, Quixadá - CE.</p>
                        <h4 class="text-pandeli"> <i class="fas fa-phone"></i> Telefones</h4>
                        <p class="text-pandeli">(88) 9.0000-0000<br>(88) 0000-0000</p>
                    </div>
                    <hr class="clearfix w-100 d-md-none pb-3">
    
                    <div class="col-md-3 col-sm-12">
                        <h4 class="text-pandeli">Siga-nos no instagram</h4>
                        <p class="text-pandeli text-center">@PanDeli</p>
                    </div>
                </div>
            </div>
        </footer>

    <script src="dist/js/jquery.js"></script>
    <script src="dist/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script> AOS.init();</script>
</body>

</html>