    <script src="dist/js/jquery.js"></script>
    <script src="dist/js/materialize.min.js"></script>
    <script>
        (function($){
            $(function(){
                $('.sidenav').sidenav();
            });
        })(jQuery);
    </script>
</body>
</html>