    <script src="dist/js/jquery.js"></script>
    <script src="dist/js/materialize.min.js"></script>
    <script>
        (function($){
            $(function(){
                $('.sidenav').sidenav();
            });
        })(jQuery);
    </script>
    <script>
        $( document ).ready(function(){
            $('.carousel.carousel-slider').carousel({
                fullWidth: true,
                indicators: true
            });
        });
    </script>
</body>
</html>