<% include ../base/cabecalho.ejs %>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-pandeli">
            <a class="navbar-brand" href="/"><strong class="text-pandeli">Pandeli</strong></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link text-pandeli" href="/"><i class="fas fa-home"></i> Inicio</strong></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href=""><strong><i class="fas fa-book-open"></i> Cardápio</strong></a>
                    </li>
                    
                    <% if(!logado){ %>
                        <li class="nav-item">
                            <a class="nav-link" href="/login"><strong><i class="fas fa-user"></i> Login</strong></a>
                        </li>
                    <%} else{ %>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <strong><i class="fas fa-smile-wink fa-lg"></i> Ola, <%= usuario.nome %> </strong>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="/dashboard">Minha Página</a>
                                <a class="dropdown-item" href="/dashboard/pedidos">Pedidos</a>
                                <a class="dropdown-item" href="/dashboard/produtos">Produtos</a>
                                <a class="dropdown-item" href="/dashboard/publicacoes">Publicações</a>
                                <a class="dropdown-item" href="/sair">Sair</a>
                            </div>
                        </li>
                    <%} %>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><strong><i class="fas fa-shopping-cart"></i> Carrinho</strong></a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="container" data-aos="fade-left" data-aos-anchor="#example-anchor" data-aos-offset="500">
        <div class="row">
            <div class="col-md-12">
                <div style="margin-top:70px;">
                    <h1 class="text-pandeli-red">Cardápio</h1>
                    <hr style="border: 2px solid #d46a56ff;">

                    <hr class="featurette-divider">
                    <div class="row featurette" data-aos="zoom-in">
                        <div class="col-md-8 order-md-2 col-sm-12">
                            <h1 class="featurette-heading text-center">Nome do Produto</h1>
                            <p style="font-size:18px;"><strong class="text-pandeli-red">Ingredientes: </strong>ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
                            <p style="font-size:30px;"><strong class="text-pandeli-red">Preço: </strong>R$ 00.00 (<span class="text-pandeli-red">Kg</span>)</p>
                            <button type="button" class="btn btn-info float-right btn-lg">Comprar</button>
                        </div>
                        <div class="col-md-4 order-md-1">
                            <img class="featurette-image img-fluid mx-auto" width="300" src="dist/img/mode400.png" alt="Generic placeholder image">
                        </div>
                    </div>
        
                    <hr class="featurette-divider">
                    <div class="row featurette" data-aos="zoom-in">
                        <div class="col-md-8 order-md-2 col-sm-12">
                            <h1 class="featurette-heading text-center">Nome do Produto</h1>
                            <p style="font-size:18px;"><strong class="text-pandeli-red">Ingredientes: </strong>ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
                            <p style="font-size:30px;"><strong class="text-pandeli-red">Preço: </strong>R$ 00.00 (<span class="text-pandeli-red">Kg</span>)</p>
                            <button type="button" class="btn btn-info float-right btn-lg">Comprar</button>
                        </div>
                        <div class="col-md-4 order-md-1">
                            <img class="featurette-image img-fluid mx-auto" width="300" src="dist/img/mode400.png" alt="Generic placeholder image">
                        </div>
                    </div>
        
                    <hr class="featurette-divider">
                    <div class="row featurette" data-aos="zoom-in">
                        <div class="col-md-8 order-md-2 col-sm-12">
                            <h1 class="featurette-heading text-center">Nome do Produto</h1>
                            <p style="font-size:18px;"><strong class="text-pandeli-red">Ingredientes: </strong>ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
                            <p style="font-size:30px;"><strong class="text-pandeli-red">Preço: </strong>R$ 00.00 (<span class="text-pandeli-red">Kg</span>)</p>
                            <button type="button" class="btn btn-info float-right btn-lg">Comprar</button>
                        </div>
                        <div class="col-md-4 order-md-1">
                            <img class="featurette-image img-fluid mx-auto" width="300" src="dist/img/mode400.png" alt="Generic placeholder image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
                
<% include ../base/rodape.ejs %>